body {font-family: "Nanum Gothic", sans-serif;}

img {
    border-radius: 40px;
    border: 8px solid #fff;
}

h1 {
    background-color: #ffffff;
    padding: 10px 20px;
    width: 600px;
    text-decoration: none;
    display:grid;
    border-radius: 16px;
    color : #ff9549;
    text-align: center;
}

p {
    background-color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    display:grid;
    border-radius: 16px;
    color : #8b2c2c;
    text-align: left;
}

ul {
    background-color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    display:grid;
    border-radius: 16px;
    color : #8b2c2c;
    text-align: left;
    width: 600px;
}

.topnav {
  overflow: hidden;
  background-color: #ff8c7d;
}

.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ffb1a7;
  color: white;
}

.topnav a.active {
  background-color: #ff9549;
  color: white;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  color: white;
  background: #ff9549;
  font-size: 17px;
  border: none;
  height: 32px;
  width: 32px;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ffd9d4;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}
